# AutoBlogs Environment Variable Template
# Copy this file to `.env` and fill your values, or
# Supply the values from system environment variables

LLM_MODEL_NAME = "awesome-model"
LLM_MODEL_APIKEY = "abc-example.com"
LLM_API_BASE_URL = "https://example.com/api/v1"
